* {
    margin: 0;
    padding: 0;
}

.inputs input[type="button"] {
    cursor: pointer;
    height: 2em;
    border-radius: 12px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 1em 0 1em 0;

    flex-wrap: wrap;

    background-color: rgb(177, 143, 143);
}

header img {
    height: 3em;
}

header div {
    display: flex;
    align-items: center;
}

header p {
    font-size: 1.4em;

}

/* MAIN */
.hidden {
    display: none;
}

main section {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nota-management {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;

    flex-wrap: wrap;
}

.nota-management .inputs {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em;

    flex-wrap: wrap;
}

 input {
    font-size: 1.2em;
    padding: 0 0.5em 0 0.5em;
}

#total-value {
    font-size: 1.2em;
    width: 12em;
}

.delete-nota-btn {
    background-image: url('./images/delete-309164_960_720.webp');
    background-color: #ffffff; /* Set your desired solid background color */
    background-size: cover; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    width: 1.2em; /* Set the width of the button */
    height: 1.2em; /* Set the height of the button */
    border: none; /* Remove the border */
    cursor: pointer; /* Change the cursor to a pointer */
    margin-left: 0.5em;
}